.home :global {
    text-align: center;

    h1 {
        font-weight: 100;
        margin-top: 30px;
        font-size: 30px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .pageSubTitle {
        font-size: 12px;
        margin: 16px 16px 40px 16px;
        font-weight: 100;
    }

    .box {
        text-align: center;
        border-radius: 5px;
        margin: 30px;
        padding: 40px;

        color: #fff;
        height: 115px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.boxShadowPurple{
            box-shadow: 0 0 10px #ffb3fe;
        }

        &.boxShadowOrange{
            box-shadow: 0 0 10px #ff9c00;
        }

        &.boxShadowGreen{
            box-shadow: 0 0 10px #89dfe4;
        }

        &.backgroundOrange {
            background: #C6FFDD; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ff9c00, #ffda0d); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ff9c00, #ffda0d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        &.backgroundPurple {
            background: #12c2e9;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #c482dc, #ffb3fe);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #c482dc, #ffb3fe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        &.backgroundGreen {
            background: #11998e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #89dfe4, #94ecb5);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #89dfe4, #94ecb5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .boxTitle {
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 2.5px;
        }
        .boxSubTitle {
            font-size: 12px;
        }

        a {
            color: #fff;
        }
    }

    .title {
        letter-spacing: 5px;
    }

    div.two {
        font-size: 25px;
        padding: 5px;
    }

    div.footNote {
        margin-top: 150px;
        margin-left: 75px;
        margin-right: 75px;
        font-weight: 700;
    }
}
